@model dotnet_ef_core.DataContext.AuditEntity

@{
    ViewData["Title"] = "Audit Details";
}

<h2>Audit Detail</h2>
<table class="table tab-content">
    <tbody>
    <tr>
        <th>ID</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Asset Id</th>
        <td>@Model.IdAsset</td>
    </tr>
    
    <tr>
        <th>Licensed Antivirus</th>
        <td>@Model.AntiVirus</td>
    </tr>
    <tr>
        <th>Licensed Office</th>s
        <td>@Model.OfficeLicense</td>
    </tr>
    <tr>
        <th>Licensed Windows</th>
        <td>@Model.WindowsLicense</td>
    </tr>
    <tr>
        <th>Condition</th>
        <td>@Model.Condition</td>
    </tr>
    <tr>
        <th>Validation</th>
        <td>@Model.Validation</td>
    </tr>
    
    </tbody>
</table>