@model IEnumerable<dotnet_ef_core.DataContext.AuditEntity>
@{
    ViewData["Title"] = "Audit List";
}

<h2>Audit List</h2>
<a asp-action="Add"><button class="btn btn-primary">Add Asset</button></a>
<table class="table table-responsive">
    <thead>
    <tr>
        <th>ID</th>
        <th>ID Asset</th>
        <th>Anti Virus</th>
        <th>Windows License</th>
        <th>Office License</th>
        <th>Condition</th>
        <th>Validation</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model )
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.IdAsset</td>
            <td>@item.AntiVirus</td>
            <td>@item.WindowsLicense</td>
            <td>@item.OfficeLicense</td>
            <td>@item.Condition</td>
            <td>@item.Validation</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-success">View</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
    
</table>
