@model IEnumerable<dotnet_ef_core.DataContext.AssetEntity>

@{
    ViewData["Title"] = "Asset List";
}

<h2>Asset List</h2>
<a asp-action="Add"><button class="btn btn-primary">Add Asset</button></a>
<table class="table table-responsive">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Specification</th>
        <th>Serial Number</th>
        <th>Purchase Year</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model )
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Specification</td>
            <td>@item.SerialNumber</td>
            <td>@item.PurchaseYear</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-success">View</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
    
</table>