@model dotnet_ef_core.DataContext.RequestEntity

@{
    ViewData["Title"] = "Request Details";
}

<h2>Request Detail</h2>
<table class="table tab-content">
    <tbody>
    <tr>
        <th>ID</th>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <th>Asset Id</th>
        <td>@Model.IdAsset</td>
    </tr>
    
    <tr>
        <th>PID Id</th>
        <td>@Model.PicId</td>
    </tr>
    <tr>
        <th>Spesification Request</th>s
        <td>@Model.SpecificationReq</td>
    </tr>
    <tr>
        <th>Necessary</th>
        <td>@Model.Necessary</td>
    </tr>

    </tbody>
</table>